extends layout

block content
  container('container container-fluid row')
    div(class='col text-center')
      ul(class='nav nav-tabs nav-justified row')
        li(class='nav-item border col p-0')
          a(class='nav-link btn btn-block active' data-toggle='tab' href='#Login') Log in
        li(class='nav-item border col p-0')
          a(class='nav-link btn btn-block' data-toggle='tab' href='#Signup') Sign up
      div(class="tab-content border row")
        div#Login(class='tab-pane fade active show w-100 p-sm-3 col')
          h2 Log in
          include login.pug
        div#Signup(class='tab-pane fade w100 p-sm-3 col')
          h2 Sign up
          include signup.pug
