div.p-1(ng-controller='loginFormCtrl')
  form
    div.form-group.row
      label(class='col-xg-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 text-left p-1' for="email") E-mail
        input#email(class='form-control' type='email' ng-model='email' placeholder='E-mail' required)
      label(class='col-xg-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 text-left p-1' for="password")  Password
        input#password(class='form-control' type='password' ng-model='password' placeholder='Password' required)  
    div.form-group.row.p-1
      button(class='btn bg-light btn-outline-secondary form-control col' ng-click='submit()') Log in
