div(ng-controller='profileFormCtrl')
  form
    div.form-group
      label.left.w-100(for="name") Profile Name
        input#name(class='form-control' type='text' ng-model='name' placeholder='Name' required)
        p {{name}}
      label.left.w-100(for="picture") Profile Picture
        div.form-control
          input#picture(class='left w-25' type='file' ng-model='picture' onchange="angular.element(this).scope().changePicture(this)" required)
          img#view(class='left' src="#")
      label.left(for="password")  Password
      input#password(class='form-control' type='password' ng-model='password' placeholder='Password' required)  
    div.form-group
      button(class='btn bg-light btn-outline-secondary form-control' ng-click='submit()') Log in
