extends layout

block content
  container(class=['container-fluid','row','h-100','w-100'].join(' '))
    div(class=['container','col-12', 'w-100'].join(' '))
      h1 User


block header
  header(class=['header','navbar','navbar-fixed-top','bg-dark','text-light','container-fluid'].join(' '))
    h1= title
