div.row
  h3.col-12 Friends(Not Yet Implemented)
  div(class='col-xg-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 border p-0')
    h3 Following
    ul.list-group.row
      li.list-group-item.col
        div.row
          div.col-3
            img.img-thumbnail(src='../images/pic_angular.jpg')
          div.col-9.text-left
            p Friend 1
      li.list-group-item.col
        div.row
          div.col-3
            img.img-thumbnail(src='../images/pic_angular.jpg')
          div.col-9.text-left
            p Friend 2
      li.list-group-item.col
        div.row
          div.col-3
            img.img-thumbnail(src='../images/pic_angular.jpg')
          div.col-9.text-left
            p Friend 3
  div(class='col-xg-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 border p-0')
    h3 Followers
    ul.list-group
      li.list-group-item.col
        div.row
          div.col-3
            img.img-thumbnail(src='../images/pic_angular.jpg')
          div.col-9.text-left
            p Friend 1
      li.list-group-item.col
        div.row
          div.col-3
            img.img-thumbnail(src='../images/pic_angular.jpg')
          div.col-9.text-left
            p Friend 2
      li.list-group-item.col
        div.row
          div.col-3
            img.img-thumbnail(src='../images/pic_angular.jpg')
          div.col-9.text-left
            p Friend 3


