form
   div.form-group.row
    label(class='text-left col p-1' for="name") Find
    input#name(class='form-control col' type='text' ng-model='name' placeholder='Name')
    button(class='btn bg-light btn-outline-secondary form-control col p-1' ng-click='submit()') Search